/* Tablet Styling */

@media only screen and (min-width: 768px) {

.title {
    font-size: 140px;
    margin-bottom: 35px;
}

.aboutMe {
    margin-top: -10px;
}

.myProjects {
    margin-bottom: 30px;
}

.headline {
    font-size: 25px;
    margin-bottom: 50px;
}

.projectTitle {
    margin-top: 15px;
    font-size: 40px;
}

.buttonClass {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.button {
    width: 50%;
    margin-top: 0px;
    margin-right: 10px;
}

.bioText {
    font-size: 20px;
    height: 60%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 25px;
}

a {
   font-size: 18px;
}

.skills {
    font-size: 18px;
 }

 .description {
    font-size: 20px;
    padding: 20px;
 }

 .contactMe {
     font-size: 20px;
 }

}
